@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

*, html {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    height: 100vh;
    width: 100vw;
}
h5 {
    position: absolute;
    font-family: sans-serif;
    top: 2.5%;
    left: 1.5%;
    font-weight: 400;
}
.place-id {
    border-radius: 22.5px;
    width: 440px;
    height: 220px;
    background-color: rgba(35, 35, 35, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.place-id button {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 33.5px;
    background-color: #5CB85A;
    border: none;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 0.5px;
    border-radius: 22.5px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.place-id button:hover {
    background-color: #2e7d32;
}
.place-id input {
    transition: 0.5s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgba(5, 5, 5, 0.55);
    color: #fff;
}
.place-id input:focus {
    background-color: rgba(25, 25, 25, 0.5);
}
.place-id .panel {
    width: 100%;
    height: 50px;
    background-color: rgba(5, 5, 5, 0.55);
}
.place-id .panel h1 {
    text-align: center;
    font-weight: 300;
    color: #fff;
    font-family: Permanent Marker;
    font-size: 1rem;
    padding-top: 14px;
    text-transform: uppercase;
}
::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
    padding-left: 5px;
}
.chat {
    overflow: hidden;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: auto;
    background-color: rgba(35, 35, 35, 0.6);
    border-radius: 22.5px;
}
.chat .name {
    background-color: rgba(5, 5, 5, 0.55);
    width: 100%;
    height: 55px;
    color: #fff;
    font-family: sans-serif;
}
.chat .name img {
    margin-left: 15px;
    margin-top: 8px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
}
.chat .name h3 {
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: 3.5%;
    margin-left: 10px;
    font-weight: 500;
    font-family: Permanent Marker;
    font-size: 1rem;
}
.chat .name p {
    display: inline;
    font-weight: 100;
    font-size: 11.5px;
    color: rgba(255, 255, 255, .65);
}
.chat .message-input {
    width: 100%;
    height: 60px;
    /*position: absolute;*/
    bottom: 0;
}
.chat .message-input input {
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.55);
    border: none;
    outline: none;
    color: #fff;
    padding: 0px 20px;
    transition: 0.5s;
}
.chat .message-input input:focus {
    background-color: rgba(25, 25, 25, 0.55);
}
.chat .message-input button {
    outline: none;
    position: absolute;
    right: 5%;
    width: 15%;
    margin-top: 15px;
    height: 30px;
    background-color: #5CB85A;
    border: 0;
    border-radius: 22.5px;
    z-index: 999;
    cursor: pointer;
    transition: 0.5s;
    color: #000;
}
.chat .message-input button:hover {
    background-color: #2e7d32;
}
.settings-button {
    float: right;
    margin: 25px;
    color: #fff;
    font-size: 27.5px;
    cursor: pointer;
}
.settings {
    position: fixed;
    right: -55%;
    top: 2%;
    width: 260px;
    height: 95vh;
    border-radius: 22.5px;
    overflow: hidden;
    background-color: rgba(35, 35, 35, 0.5);
    text-align: center;
    font-family: sans-serif;
}
.settings i {
    margin-right: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.settings i:hover {
    color: rgba(15, 15, 15, 0.85);
}
.settings h3 {
    font-weight: 300;
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
}
.settings img {
    margin-top: 45px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .5);
}
.settings h2 {
    margin-top: 85px;
    font-weight: 300;
    color: #fff;
}
.settings .fa-pencil-alt {
    display: none;
}
.settings .fa-plus-circle {
    position: absolute;
    left: 115px;
    top: 115px;
    font-size: 30px;
    color: rgba(15, 15, 15, 0.85);
    display: none;
}
.settings .generate {
    position: absolute;
    bottom: 5%;
    width: 100%;
}
.settings .new-id {
    margin-top: 10px;
    width: 50%;
    height: 27.5px;
    border: none;
    outline: none;
    border-radius: 22.5px;
    background-color: #4caf50;
    transition: 0.5s;
    cursor: pointer;
}
.settings .new-id:hover {
    background-color: #2e7d32;
}
.settings .settings-panel {
    background-color: rgba(15, 15, 15, 0.55);
    padding: 10px 0px;
    height: 30px;
    width: 100%;
    color: #fff;
    font-family: sans-serif;
}
.settings .settings-panel h1 {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    margin-top: 9px;
    text-transform: uppercase;
}
.settings .settings-panel i {
    display: none;
    cursor: pointer;
    position: absolute;
    left: 7.5%;
    top: 2.1%;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.75);
    transition: 0.5s;
}
.settings .settings-panel i:hover {
    color: #e53935;
}
.settings .settings-panel:hover i {
    display: block;
}
hr {
    color: rgba(255, 255, 255, .5);
    margin-top: 25px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
.message, #feedback {
    color: white;
    margin: 8px;
}
#chatroom   {
    height: 49vh;
    overflow-y: scroll;
}
